@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rotate-top-left {
  transform-origin: top left;
}

.services-margin {
    margin-top: 6.2em; /* Adjust the percentage based on your specific needs */
  }
.portfolio-margin {
    margin-top: 6.2em; /* Adjust the percentage based on your specific needs */
  }
.about-margin {
    margin-top: 5.6em; /* Adjust the percentage based on your specific needs */
  }
.contact-margin {
    margin-top: 5.9em; /* Adjust the percentage based on your specific needs */
  }

.flat-horiz{
  height: 0px;
}
.flat-vertic{
  width: 0px;
}
.swiper-container{
  height: 100%; 
  max-height: 100vh;
  min-height: 0;
  max-width: calc(100vw - 8em);
  width: 100%;
  overflow: hidden;
}

.swiper-slide{
  width: auto;
  flex-shrink: 0;
  display: block;
  max-height: 100vh;
}

.swiper-wrapper{
  max-height: 100%;
  height: 100%;
  display: flex;
}

/* Portfolio */

.portfolio-swiper-container{
  height: 100%; 
  max-height: 100%;
  min-height: 0;
  max-width: calc(100vw - 5.5em);
  width: 100%;
  overflow: hidden;
}

.portfolio-swiper{
  /* UNUSED. To be used if footer doesn't fill the empty space*/
  height: calc(100vh - 6em);
}

.portfolio-slides{
  
}

/* Slide swiper */
.slide-swiper-container{
  height: 100%; 
  max-height: 100%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
}

.slide-swiper{
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}

.slider-image{
  max-height: 100%;
  max-width: 100%;
}

.swiper-button-next {
  @apply right-4;
}

.swiper-button-prev {
  @apply left-4;
}

.swiper-pagination-bullet{
  background-color: theme('colors.charcoal') !important;
  width: 20px !important;
  height: 10px !important;
  border-radius: 0px !important;
  border-radius: 0px !important;
  border-radius: 3px !important;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
  height: 10px !important;
}

.slide-swiper-container .swiper-pagination-bullet {
  background-color: theme('colors.softSunglow') !important;
}

.project-overview-section .swiper-pagination-bullet {
  margin-top: 50px;
  background-color: theme('colors.softSunglow') !important;
}
.project-overview-section .el {
  margin-top: 50px;
}

.swiper-zoom-container{
  cursor: zoom-in;
}

.main-content-container{
  min-height: calc(100vh - 4rem);
}